extends layout

block content
  h1 New Message
  form(action='' method='POST')
    label(for='messageTitle') Message Title
    input(id='messageTitle' name='messageTitle' type='text' required minLength='3')
    label(for='message') Message
    input(id='message' name='message' type='text' required minLength='3')
    button(type='submit') Send Message
